
body {
  background-image: url("https://pa1.narvii.com/6546/07c1b3d27604d3aab17b7d1bd674b2c31a2eeb14_00.gif");
  background-repeat: no-repeat;
  background-size: 1500px 2500px;
}
navbar {
  background-color: #2aaacf;
}
