<div *ngIf="hotel">
  <div class="panel panel-default">
  <div [@fromLeft]>
      <div class="panel-heading">
          <h3 class="panel-title">
          {{hotel.name}}&nbsp;&nbsp;
          <img *ngIf="canEdit" routerLink="/fests/edit/{{hotel._id}}" class="icon edit-icon" src="http://www.iconhot.com/icon/png/bunch-cool-bluish-icons/256/edit-29.png" />
          <img *ngIf="canEdit" routerLink="/fests/delete/{{hotel._id}}" class="icon delete-icon" src="https://cdn2.iconfinder.com/data/icons/e-business-helper/240/627249-delete3-256.png" />
          </h3>    
      </div>
      <div class="panel-heading">
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-5">
	              <div class="row">
		                  <img class="thumbnail" src="{{hotel.imageUrl}}">
		          </div>
              	  <br>
	              <div *ngIf="canVote" class="row">
	                  Please rate the festival:  &nbsp;&nbsp;
		              <div class="form-group">
		                  <form [formGroup]="voteForm" (ngSubmit)="vote()">
		                  	<select formControlName="raiting">
		                  		<option [value]="0">0</option>
		                  		<option [value]="1">1</option>
		                  		<option [value]="2">2</option>
		                  		<option [value]="3">3</option>
		                  		<option [value]="4">4</option>
		                  		<option [value]="5">5</option>
		                  	</select>
		                  	<span>&nbsp;&nbsp;</span>
		                  	<button [disabled]="voteForm.invalid" type="submit" class="btn btn-sm btn-success">Rate this!</button>
		                  </form>
		              </div>
	              </div>
	              <div *ngIf="!canVote" class="row">
	              	You have already voted for this event.
	              </div>
	          </div> 
              <div class="col-md-7">
                  <ul class="list-group">
                      <li class="list-group-item">Place: {{hotel.city}}</li>
                      <li class="list-group-item">Rating: {{hotel.raiting | number | number : '1.2-2'}} / 5 with {{hotel.voteUsers.length}} votes</li>
                      <li class="list-group-item">Description: {{hotel.description}}</li>
                      <li class="list-group-item">Website: <a target="blank" href="{{hotel.hotelUrl}}">Official web site</a></li>
                      <li class="list-group-item">Added by: <a routerLink="/users/profile/{{hotel._acl.creator}}">{{hotel.username}}</a>, on {{hotel._kmd.ect | date}}</li>
                  </ul>
                  <br>
              </div>  
          </div>
      </div>
      </div>
      <br><br>
  <app-comments></app-comments>
  </div> 
    </div> 
