<div class="row">
<div class="col-md-10">
<p class="white">{{comment.text}}</p>
<span>
Posted by 
<span *ngIf="authService.isLogged()" class="small italic"><a routerLink="/users/profile/{{comment._acl.creator}}">{{comment.username}}</a> on {{comment._kmd.ect | date}}</span>
 <span *ngIf="!authService.isLogged()" class="small"><a routerLink="/auth/login" class="italic">login</a> to see...</span>
</span> 
</div>
<div class="col-md-2">
<a class="btn btn-default" routerLink="/fests/review/{{comment.hotelId}}">View more...</a>
</div>
</div>
